<ion-header>
  <ion-toolbar>
    <ion-title>Validación de Contraseñas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="validatePasswords()">Validar</ion-button>
</ion-content>
